<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">
                    Ready to start your next project with us? Give us a call, send us an email, or connect with us on social media. We will get back to you as soon as possible!
                </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 ms-auto text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 text-primary mb-3"></i>
                <div>0435000025</div>
            </div>
            <div class="col-lg-4 me-auto text-center">
                <i class="bi-envelope fs-2 text-primary mb-3"></i>
                <a class="d-block" href="mailto:sahibtrucktraining@gmail.com">sahibtrucktraining@gmail.com</a>
            </div>
        </div>
        <!-- Address Section -->
        <div class="row gx-4 gx-lg-5 justify-content-center mt-4 mb-5">
            <div class="col-lg-8 text-center">
                <i class="bi-geo-alt fs-2 text-primary mb-3"></i>
                <div>
                    <strong>Address:</strong> <br>
                    Riverstone, Blacktown (Sydney), NSW 2765
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mt-4">
            <div class="col-lg-12 text-center">
                <div class="social-links mt-3" style="font-size: 0; display: flex; gap: 1rem; justify-content: center;">
                    <a href="https://www.facebook.com/profile.php?id=100093009126480" target="_blank">
                        <i class="bi-facebook fs-2 text-primary"></i>
                    </a>
                    <a href="https://www.instagram.com/sahibtruckdriverstraining/p/Cz8lf6Wyfdw/?img_index=1" target="_blank">
                        <i class="bi-instagram fs-2 text-primary"></i>
                    </a>
                    <a href="https://www.tiktok.com/@sahibtruckdrivertraining" target="_blank">
                        <i class="bi-tiktok fs-2 text-primary"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
